# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Dist directory
dist/

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Other
.DS_Store

.env